* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4em;
  font-weight: 300;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.1em;
}

.container {
  width: 100%;
  max-width: calc(960px + 6em);
  margin: 0 auto;
  padding: 0 3em;
}

.button {
  display: inline-block;
  border: none;
  background-image: linear-gradient(-180deg, #3cbbff 0%, #3b2eff 100%);
  border-radius: 0.2em;
  color: #fff;
  text-decoration: none;
  padding: 0.6em 1em;
  transition: 0.2s;
  font-size: 0.9em;
}

.button:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: translateY(1px);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 0;
  background-image: linear-gradient(-180deg, #3b2f12 0%, #000000 100%);
}

header .logo {
  width: 256px;
  height: 194px;
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

header .subtitle {
  font-size: 1.2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
}

/* Description */
.description {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3em 0;
}

/* Features */
.features {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 0;
  padding-top: 6em;
  align-items: flex-start;
  margin: 0 -0.5em;
}

.feature {
  flex: 0 0 100%;
  padding: 0 0.5em 1em 0.5em;
}

.feature-tag {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  margin-bottom: 0.5em;
}

.feature-title {
  font-size: 1.2em;
  font-weight: 700;
}

.feature-description {
  margin-top: 0.5em;
}

/* Get Glitterbot */

.cta-title {
  font-size: 1.2em;
}

.get-gb {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 0;
  align-items: flex-start;
  margin: 1em -0.5em;
}

.get-gb-item {
  flex: 0 0 100%;
  padding: 2em 0.5em 3em 0.5em;
}

.new-bot {
  padding: 2em;
  margin: -2em 0;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 0.5em;
  position: relative;
}

.new-bot-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fcec51;
  border-radius: 0.25em;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 0.5em;
  color: #000;
  background-image: radial-gradient(45% 54%,#fffbd2 46%,#fcec51 55%);
  box-shadow: 0 0 44px 0 rgba(255,250,192,.45), 0 5px 21px 0 rgba(0,0,0,.1), inset 0 0 6px 6px #f3a437, inset 20px 0 9px 0 rgba(252,238,93,.62), inset -20px 0 9px 0 rgba(252,238,93,.27), inset 0 0 26px 20px #ffc62a;
}

.old-bot {
  padding: 0 2em;
}

.call-to-action {
  padding-top: 3em;
  text-align: center;
}

.cta-item-title {
  font-size: 1.2em;
  font-weight: 500;
}

.cta-button {
  margin-top: 1em;
}

/* Message preview */
.preview {
  display: flex;
  flex-wrap: wrap;
  margin: 6em 0;
  flex-direction: column;
}

.preview-column {
  flex: 0 0 50%;
  overflow: hidden;
}

.slack-container {
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 0 1em;
}

.slack-window {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}

.slack-sidebar {
  display: none;
}

.slack-sidebar-dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #fff;
  display: inline-block;
}

.slack-content {
  max-width: 100%;
  padding: 12px 15px;
}

.slack-message {
  display: flex;
  padding-bottom: 10px;
}

.slack-avatar {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-right: 15px;
  margin-top: 3px;
}

.avatar-glitter {
  background-image: url(avatar.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar-1 {
  background-image: linear-gradient(
      -128deg,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 49%
    ),
    linear-gradient(
      -211deg,
      rgba(255, 255, 255, 0.2) 60%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(-225deg, #fceb52 0%, #f5ad37 100%);
}

.avatar-2 {
  background-image: linear-gradient(
      -220deg,
      rgba(255, 255, 255, 0.48) 39%,
      rgba(255, 255, 255, 0) 39%
    ),
    linear-gradient(
      -117deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.59) 51%
    ),
    linear-gradient(-180deg, #3cbbff 0%, #3b2eff 100%);
}

.slack-message-data {
  flex: 1;
}

.slack-message-meta {
  margin-bottom: -5px;
}

.slack-username {
  display: inline-block;
  font-weight: 600;
}

.slack-timestamp {
  display: inline-block;
  opacity: 0.5;
  font-size: 0.8em;
  font-weight: 400;
}

.slack-message-text {
  font-weight: 400;
  opacity: 0.8;
}

.slack-message-link {
  color: #0097ff;
  word-break: break-all;
}

.slack-message-image > img {
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.preview-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.preview-description {
  flex: 0;
  max-width: 600px;
  padding: 0 3em;
}

/* Testimonials */
.testimonials {
  padding-bottom: 3em;
}

.testimonial {
  padding-top: 3em;
}

.count {
  opacity: 0.3;
}

.testimonial-text {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0.5em 0;
}

.testimonial-name {
  font-weight: 700;
}

.star {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("star.png");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.star-02 {
  background-image: url("star-02.png");
}

.star-025 {
  background-image: url("star-025.png");
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 0;
  background-image: linear-gradient(0deg, #3b2f12 0%, #000000 100%);
}

.footer-link {
  opacity: 0.5;
  transition: 0.2s;
}

.footer-link:hover {
  opacity: 1;
}

/* Desktop styling */
@media only screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .get-gb-item {
    flex: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .preview {
    flex-direction: row;
  }

  .feature {
    flex: 1;
  }

  .slack-container {
    padding: 0;
    height: 620px;
  }

  .slack-window {
    width: 800px;
    position: absolute;
    right: 2em;
  }

  .slack-sidebar {
    display: block;
    background: #373737;
    width: 180px;
    line-height: 0;
    padding: 10px;
    align-self: stretch;
  }

  .preview-description {
    padding: 0 0 0 2em;
  }
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  background-image: linear-gradient(-180deg, #FFFFFF 3%, #F5F5F5 100%);
  box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.20), inset 0 7px 24px 0 rgba(255,255,255,0.41), inset 0 -13px 35px 0 #E6EBF5;
  font-size: 1rem;
}

.time-separator {
  font-weight: 700;
}

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.settings-title {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-image: linear-gradient(-180deg, #ffffff 3%, #f5f5f5 100%);
  box-shadow: inset 0 -10px 13px 0 rgba(24, 33, 76, 0.53);
  border-radius: 4px;
}

.checkbox:hover input ~ .checkmark {
  background-image: linear-gradient(-180deg, #ffffff 3%, #f5f5f5 100%);
  box-shadow: inset 0 -10px 13px 0 rgba(24, 33, 76, 0.53);
  border-radius: 4px;
}

.checkbox input:checked ~ .checkmark {
  background: #fcec51;
  background-image: radial-gradient(45% 54%, #fffbd2 46%, #fcec51 55%);
  box-shadow: 0 0 44px 0 rgba(255, 250, 192, 0.45),
    0 5px 21px 0 rgba(0, 0, 0, 0.1), inset 0 0 6px 6px #f3a437,
    inset 20px 0 9px 0 rgba(252, 238, 93, 0.62),
    inset -20px 0 9px 0 rgba(252, 238, 93, 0.27), inset 0 0 26px 20px #ffc62a;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.settings {
  padding-bottom: 5em;
  position: relative;
}

.settings-wrapper {
  opacity: 0.2;
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.saving {
  display: none;
  padding-left: 0.5em;
  opacity: 0.5;
}

.error {
  display: none;
  padding-left: 0.5em;
  color: #ff6115;
}

.saved {
  display: none;
  padding-left: 0.5em;
  color: #2ede5c;
}

.save-icon {
  font-weight: 700;
}